<!DOCTYPE html>
<html>
  <head>
    <title>Codeyak</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<!-- Codeyak chat site by Dan McKeown http://danmckeown.info copyright April 2017  -->
  <body>
    <%= yield %>
  </body>
</html>
